<html>
	<p>This message was sent by the contact form at {{ app.request.getSchemeAndHttpHost() }}</p>
	<hr />
	<p><b>Sender Name:</b>  {{ from_name }}<br />
	<b>Sender Email:</b>  {{ from_email }}<br />
	<b>Subject:</b>  {{ subject }}</p>
	<p>{{ message|nl2br }}</p>
</html>
